.features {
  
    width: 100%;
    padding-top: 100px;
    background: $color-bg;
}

.features-container {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
   
    gap: 54px;
    @media (max-width:992px) {
        flex-direction: column;
        position: relative;
     }
}

.features-result {
    p {
        font-weight: 700;
        font-size: 48px;
        line-height: 50px;
        color:$color-primary;
        @media  (max-width:992px) {
            position: absolute;
            top: -50px;
            left: 20%;
          }
          @media screen and (max-width:451px) {
            top: -60px;
            left: 10px;
            font-size: 32px;
            line-height: 38px;;
             }
    }
    @media  (max-width:992px) {
        text-align: right;
      }
}

.features-result-img {
    max-width: 700px;
height: 519px;
@media screen and (max-width:451px) {
    max-width: 420px;
    height: 380px;
     }
}

.features-items {
    // width: 540px;
    display: flex;
    flex-direction: column;
    gap: 34px;

}

.features-item {
   
    display: flex;
    align-items: center;
    @media screen and (max-width:451px) {
     flex-direction: column;
      }
    
   
}
.features-item-text {
    max-width: 400px;
    margin-left: 20px;
    @media  (max-width:992px) {
       max-width: 100%;
     }
    h5 {
        font-weight: 400;
        font-size: 16px;
        line-height: 21px;
        color: #323232;
    }
    p {
        font-size: 14px;
        color: $color-description; 
    }
  

}

.features-item-img {
    width: 200px;
    height: 100px;
    background-image: url(/assets/img/icon1.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    @media  (max-width:992px) {
        width: 100px;
      }

}

.img2 {
    background-image: url(/assets/img/icon2.png);
}

.img3 {
    background-image: url(/assets/img/icon3.png);
}

.img4 {
    background-image: url(/assets/img/icon4.png);
}