.features {
  
    width: 100%;
    padding-top: 60px;
    background: $color-bg;
    padding: 100px 10px 70px;
  
}

.features-title-container {
    max-width: 1200px;
    position: relative;
}
.features-title {
    font-weight: 700;
    font-size: 48px;
    line-height: 50px;
    text-align: right;
    color:$color-primary;
    position: absolute;
    right: 60px;
    @media (max-width:480px) {
        font-size: 32px;
        line-height: 38px;
     }
     @media (max-width:992px) {
        text-align: center;
        margin-bottom: 50px;
        position: static;
        
    }
    

}

.features-container {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    gap: 54px;
    @media (max-width:992px) {
        flex-direction: column;
        position: relative;
     }
     @media (max-width:480px) {
        align-items: flex-start;
     }
}

.features-result {
    margin-top: 60px;

    @media screen and (max-width:992px) {
         margin-top: 0;
     }
}

.features-result-img {
    max-width: 700px;
    height: 519px;
@media screen and (max-width:768px) {
    max-width: 580px;
    height: 480px;
     }
@media screen and (max-width:480px) {
    max-width: 480px;
    height: 380px;
     }
}

.features-items {
    
    display: flex;
    flex-direction: column;
    gap: 34px;
    position: relative;

}

.features-item {
   
    display: flex;
    align-items: center;
    @media screen and (max-width:480px) {
     flex-direction: column;
      }
    
   
}
.features-item-text {
    max-width: 400px;
    margin-left: 20px;
    @media  (max-width:992px) {
       max-width: 100%;
     }
    h5 {
        font-weight: 400;
        font-size: 16px;
        line-height: 21px;
        color: #323232;
    }
    p {
        font-size: 14px;
        color: $color-description; 
    }
    @media screen and (max-width:480px) {
        margin-top: 24px;
        text-align: center;
        h5 {

            margin-bottom: 24px;
        }
         }

}

.features-item-img {
    width: 300px;
    height: 100px;
    background-image: url(/assets/img/icon1.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    @media  (max-width:1100px) {
        width: 200px;
      }
    @media  (max-width:992px) {
        width: 150px;
      }
    @media  (max-width:480px) {
        width: 100px;
      }

}

.img2 {
    background-image: url(/assets/img/icon2.png);
}

.img3 {
    background-image: url(/assets/img/icon3.png);
}

.img4 {
    background-image: url(/assets/img/icon4.png);
}