*{
    box-sizing: border-box;
    margin: 0 auto;
    padding: 0;
}
.navbar{
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 10px;
    margin-top: 50px;
}
.login-btn{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 168px;
    height: 44px;
    border: 2px solid purple;
    border-radius: 12px;
    background: #393381;
    color: white;
}
.modal{
    display: flex;
    margin-top: 50px;
}
.form{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.buttons{
    gap: 10px;
    margin-top: 10px;
    display: flex;
    flex-direction: column-reverse;
}
.login{
    width: 150px;
    height: 44px;
    border: 2px solid purple;
    border-radius: 12px;
}
.auth{
    gap: 10px;
    margin-top: 10px;
    display: flex;
    flex-direction: column-reverse;
}