.section-wrapper {
  background: #4B3B4E;
}


.testimonials {
  width: 100%;
  height: 100%;

  background-image: url('../img/bg.png');
  background-size: cover;
  background-repeat: no-repeat;
@media (max-width: 768px) {
  padding: 2%;

}
}
.title{
  font-family: Montserrat, sans-serif;
  padding: 6%;
  display: flex;
  justify-content: center;
  font-size: 48px;
  line-height: 50px;
  color:$color-secondary;

  @media (max-width:993px){
    h2{
  font-size: 42px;
      text-align: center;
    }
  }
  @media (max-width: 320px) {
    h2{
      text-align: center;
      font-size: 36px;
    }

  }
  }

.description{
  //max-width: 1200px;
  padding-left: 5%;
  padding-right: 5%;
  margin: 0 auto;
  height: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 100px 70px;
  //padding: 10px;
  @media (max-width: 992px) {
    grid-template-columns: 1fr 1fr;
  }
  @media (max-width: 481px) {
    grid-template-columns: 1fr;
    gap: 40px;
  }

}
.item{

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: end;
  gap: 28px;
  @media (max-width: 993px) {
    margin-top: 82px;
  }
  @media (max-width: 481px) {
    margin-top: 41px;
  }
}
.logo-items{
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.item-desc{
  height: 100%;
  font-family: 'Lato',sans-serif;
  font-style: italic;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  color: #FFFFFF;
}
.testimonials-footer{
  display: flex;
  flex-direction: column;
  width: 887px;
  margin: 0 auto;
  text-align: center;
  margin-top: 121px;
  gap: 18px;
  @media (max-width: 993px) {
    width: 100%;

  }
  @media (max-width: 560px) {
    gap: 50px;

  }
  @media (max-width: 480px) {
    gap: 84px;
  }
}
.text_section{
  height: 35px;
  color: #A291A5;
  font-family: 'Lato',sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
}
.img__testimonial{
  margin-top: 18px;
  max-width: 100%;
}
.pricing{
  width: 100%;
  height: 100%;
  background-image: url("../img/bg2.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.title-pricing{
  font-family: Montserrat, sans-serif;
  padding: 6%;
  display: flex;
  justify-content: center;
  font-size: 48px;
  font-weight: 700;
  line-height: 44px;
  margin-bottom: 50px;
color: $color-secondary;
  @media (max-width:993px){
    h2{
      font-size: 42px;
    text-align: center}
  }
  @media (max-width: 320px) {
    h2{
      font-size: 28px;
      text-align: center;
      margin-bottom: 30px;
    }

  }
}
.containers{
  max-width: 1200px;
  margin: 0 auto;
  justify-content: center;
  height: 100%;
  display: grid;
  grid-template-columns: repeat(4,auto);
  column-gap: 15px;
  padding: 10px;
  @media (max-width: 1140px) {
    display: flex;
    padding: 10px;
  }
  @media (max-width: 992px) {
    display: grid;
    grid-template-columns: repeat(2,auto);
    justify-content: center;
  gap: 25px}
  @media (max-width: 600px) {
    grid-template-columns: repeat(auto-fit, minmax(200px, 220px));
  }
  @media (max-width: 481px) {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  @media (max-width: 320px) {
    padding: 10%;
  }
}
.tabs{
  font-family: Montserrat, sans-serif;
  width: 257px;
  height: 457px;
  align-items: center;
  display: flex;
  flex-direction: column;
  margin-bottom: 150px;
  &__1{
    margin-top: -50px;
    width: 299px;
    height: 560px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    @media (max-width: 600px){
      width: 230px;
  }
    @media (max-width: 481px) {
      width: 299px;}}
  @media (max-width: 992px) {
    margin-bottom: 71px;}
  @media (max-width: 600px){
    width: 215px;
  }
  @media (max-width: 481px) {
    width: 257px;}
  @media (max-width: 320px) {
    margin-bottom: 65px;

  }
}
.tabs-name{
  width: 100%;
  text-align: center;
  text-transform: uppercase;
  font-size: 24px;
  background: rgba(255,255,255,.06);
  font-weight: 400;
  line-height: 24px;
  align-items: center;
  display: flex;
  justify-content: center;
  height: 97px;
  color:$color-secondary;
  &__3{
    font-family: Montserrat, sans-serif;
    width: 100%;
    text-align: center;
    text-transform: uppercase;
    font-size: 24px;
    background: rgba(70, 48, 72, 1);
    font-weight: 400;
    line-height: 24px;
    align-items: center;
    display: flex;
    justify-content: center;
    height: 97px;
    color:$color-secondary;
  }
  @media (max-width: 320px) {
    padding: 36px 27px;
  }
}
.value{
  margin-top: 30px;
  font-size: 60px;
  font-weight: 700;
  display: flex;
  flex-direction: column;
  align-items: center;
  &__3{
    font-family: Montserrat, sans-serif;
    margin-top: 30px;
    font-size: 82px;
    font-weight: 700;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
.tabSpan{
  margin-top: 20px;
  font-size: 14px;
  text-transform: uppercase;
}
.tab-string{
  margin-top: 38px;
}
.tabs-desc{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  background: rgba(255, 255, 255, 0.11);
  color: $color-secondary;
  &__3{
    width: 100%;
    height: 463px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background: rgba(70, 48, 72, 0.64);
    color: $color-secondary;
  }
}
.tab-options{
  height: 20px;
  margin-top: 38px;
  font-size: 16px;
  font-weight: 400;
  line-height: 18px;
  text-align: center;
  &__3{
    font-family: Montserrat, sans-serif;
    height: 20px;
    margin-top: 38px;
    font-size: 16px;
    font-weight: 400;
    line-height: 18px;
    text-align: center;
  }
}
.pricing-btn{
  margin-top: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 160px;
  height: 42px;
  border-radius: 40px;
  background: rgba(255, 255, 255, 0.15);
  margin-bottom: 28px;
  &__3{
    font-family: Montserrat, sans-serif;
    margin-top: 83px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 190px;
    height: 52px;
    border-radius: 40px;
    background: rgba(255, 255, 255, 0.15);
    margin-bottom: 28px;
  }

}
.tabs-button{
  background: none;
  font-size: 16px;
  text-transform: uppercase;
}

