@import './header';
@import './present';
@import './features';



// .wrapper {
//     padding-left: 10px;
//     padding-right: 10px;
// }

.container {
    margin: 0 auto;
    // padding-left: 10px;
    // padding-right: 10px;
    // @media  (max-width:451px) {
    //     padding-left: 25px;
    //     padding-right: 25px;
    // }
}

body {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 11px;
    line-height: 22px;
}

.section-title { 
    font-weight: 700;
    font-size: 16px;
    line-height: 22px;
    text-transform: uppercase;
 
}

.main {
    display: flex;
    flex-direction: column;
   
}